body {
    background-color: hsl(43, 99%, 75%);
}

h1 {
    text-align: center;
    color: hsl(30, 46%, 35%);
    font-size: 75px;
    padding-bottom: 25px;
}
.logo {
    position: relative;
    margin-top: -70%;
}

nav {
    display: inline-flexbox;
    position: relative;
    margin-top: -6%;
    margin-left: 85%;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color:  hsl(43, 99%, 75%);
}

a:hover {
    color: hsl(209, 84%, 51%);
    transition: color 125ms;
    text-decoration: none;
    background-color: #fff;
}

li {
    padding: 10px;
    border: 2px solid black;
    border-radius: 0 50% 50% 0 ;
    background-color: hsl(30, 46%, 55%)
}

.search-wrapper {
    font-size: 30px;
    font-weight: bolder;
    padding: 20px;
    border: 0;
}

input {
    font-size: 25px;
}

.hide {
    display: none;
}


div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    border: 1px solid hsl(30, 46%, 35%);
}

img{
    width: 200px;
    padding: 20px;
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    text-transform: capitalize;
}

.specs {
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

/*Back to Top */

.top {
    --offset: 50px; 

    position: sticky;
    bottom: 20px;      
    margin-left: 90%; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));

  /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
    white-space: nowrap;
}

/* spinner */

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
100% {
    transform: rotate(1800deg);
}
}

.hidden {
    display: none;
}
